body {
  background-color: white; /* Arxa fonu ağ edin */
  color: black; /* Mətni qara edin */
  margin: 0; /* Marjinləri sıfırlayın */
  font-family: Arial, sans-serif; /* İstədiyiniz şrift ailəsini seçin */
}
